* {
    margin: 0;
    border: 0;
    padding: 0;
}

#header {
    height: 80px;
    display: flex;
    flex: 1;
}
#logo {
    width: 20%;
    text-align: left;
}
#nav {
    width: 60%;
}
#user {
    text-align: right;
}

.items-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.panel {
    width: 25%;
    list-style: none;
}
.pagination-container {
    text-align: center;
}